@using VBJ._13B.Group1.WebApp.Models
@{

}
@model List<Room>  //give model the Room model's list

<table>
    <thead>
    <th>Identification number</th>
    <th>Available</th>
    </thead>
    <tbody>
        @if (Model is not null)  //if model received the waited item
        {
            foreach (Room item in Model)   
            {
                <tr>
                    <td>@item.ID</td>
                    @if (item.IsAvailable)  //check if the room is available
                    {
                        <td>Available</td>
                        <td><a href="@Url.Action("BookRoom", new {id=item.ID})">Book now</a></td> //Redirect to BookRoom page for the selected room
                    }
                    else
                    {
                        <td>Not available</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
