@using VBJ._13B.Group1.WebApp.Models
@model Movie
@{
    ViewData["Title"] = "Create Movie";
}

@using (Html.BeginForm("AddMovie", "Movie"))
{
    <label>Title</label>
    @Html.TextBoxFor(movie => movie.Title)
    ;
    <label>Genre</label>
    @Html.TextBoxFor(movie => movie.Genre)
    ;
    <label>Release Year</label>
    @Html.TextBoxFor(movie => movie.ReleaseYear)
    ;
    @Html.HiddenFor(movie => movie.ID)
    ;
    <input type="submit" value="Send">

}
