@using VBJ._13B.Group1.WebApp.Models
@{
    ViewData["Title"] = "Edit movie";
}
@model Movie

@using (Html.BeginForm("EditMovie", "Movie"))
{
    <label>Title</label>
    @Html.TextBoxFor(movie => movie.Title)
    ;
    <label>Genre</label>
    @Html.TextBoxFor(movie => movie.Genre)
    ;
    <label>Release Year</label>
    @Html.TextBoxFor(movie => movie.ReleaseYear)
    ;
    @Html.HiddenFor(movie => movie.ID)
    ;
    <input type="submit" value="Send">
}